/* to check the layout */
/* div {
    border: 0.5px solid orange;
} */
.text-muted {
    font-weight: lighter;
}

/* scatter plot */
#svgDiv {
    border: 1px solid #EEE;
    border-radius: 3px;
}
#svgDiv circle {
    opacity: 0.8;
}
#svgDiv circle:hover {
    stroke: white;
    stroke-width: 1px;
    opacity: 1;
}
.tooltipDiv{
    opacity: 0.9;
    background-color: #EEE;
    border-radius: 3px;
    /* border: 1px solid #EEE; */
    font-size: 0.7em;
    font-weight: lighter;
    padding: 1px 6px 1px 6px;
}


/* slider */
.slider-container {
    width: 100%;
}
.slider-container p {
    font-size: 0.9em;
    color: gray;
    font-weight: lighter;
}
.slider{
    width: 100%;
    height: 10px;
    border-radius: 2px;
    background: #DDD;
    outline: none;
    opacity: 0.85;
    -webkit-transition: .2s;
    transition: opacity .2s;
    -webkit-appearance: none;
    overflow: hidden;
    cursor: pointer;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    /* color: #08F; */
    transition: box-shadow 0.2s ease-in-out;
}
/* slider thumb */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 10px;
    border-radius: 2px;
    background: white;
    box-shadow: -500px 0 0 500px #08F, inset 0 0 0 40px #08F;
}
.slider::-moz-range-thumb { /* FireFox */
    width: 5px;
    height: 10px;
    border-radius: 2px;
    background: white;
}
.slider::-moz-range-progress {
    background-color: #08F;
}
.slider::-moz-range-track {
    background-color: #DDD;
}



/* slider for legends */
.slider-legend {
    width: 150px;
    height: 4px;
    border-radius: 2px;
    background: #555;
    outline: none;
    opacity: 0.85;
    -webkit-transition: .2s;
    transition: opacity .2s;
    -webkit-appearance: none;
    /* overflow: hidden; */
    cursor: pointer;
}
.slider-legend:hover {
    opacity: 1;
}
.slider-legend::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #555;
}
.svg-legend {
    width: 150px;
    height: 50px;
    background: #08F;
}




/* side panel */
#details {
    font-size: 0.9em;
    font-weight: lighter;
}

#info-div {
    font-size: 0.6em;
    font-weight: lighter;
    color: #BBB;
}