/* to check the layout */
/* div {
    border: 0.5px solid orange;
} */
.text-muted {
    font-weight: lighter;
}
.row {
    margin: 0;
}

/* scatter plot */
#svgDiv {
    border: 1px solid #EEE;
    border-radius: 3px;
}
#svgDiv circle {
    opacity: 0.8;
}
#svgDiv circle:hover {
    opacity: 1;
    stroke: white;
    stroke-width: 1.5px;
    /* TODO: drop shadow not working.. why? */
    -webkit-filter: drop-shadow(0 0 0.75rem red);
    filter: drop-shadow(0 0 0.75rem red);  
}
.tooltipDiv{
    line-height: 1.2;
    opacity: 0.9;
    background-color: #EEE;
    border-radius: 3px;
    /* border: 1px solid #EEE; */
    font-size: 0.7em;
    font-weight: lighter;
    padding: 4px 6px 4px 6px;
}


/* slider */
.slider-container {
    width: 100%;
    line-height: 1;
}
.slider-container p {
    font-size: 0.9em;
    color: gray;
    font-weight: lighter;
}
.slider{
    width: 100%;
    height: 10px;
    border-radius: 2px;
    background: #DDD;
    outline: none;
    opacity: 0.85;
    -webkit-transition: .2s;
    transition: opacity .2s;
    -webkit-appearance: none;
    overflow: hidden;
    cursor: pointer;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    /* color: #08F; */
    transition: box-shadow 0.2s ease-in-out;
}
/* slider thumb */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 10px;
    border-radius: 2px;
    background: white;
    box-shadow: -500px 0 0 500px #08F, inset 0 0 0 40px #08F;
}
.slider::-moz-range-thumb { /* FireFox */
    width: 5px;
    height: 10px;
    border-radius: 2px;
    background: white;
}
.slider::-moz-range-progress {
    background-color: #08F;
}
.slider::-moz-range-track {
    background-color: #DDD;
}



/* slider for legends */
.legend-container {
    width: 180px;
    height: 60px;
    line-height: 1;
    /* border: 1px solid orange; */
    position: relative;
}
.legend-slider {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 120px;
    height: 2px;
    border-radius: 2px;
    background: #555;
    outline: none;
    /* opacity: 0.85; */
    -webkit-transition: .2s;
    transition: opacity .2s;
    -webkit-appearance: none;
    cursor: pointer;
}
/* .legend-slider:hover {
    opacity: 1;
} */
.legend-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #555;
}
.legend-slider::-webkit-slider-thumb:hover {
    -webkit-transition: .3s;
    transition: .3s;
    width: 14px;
    height: 14px;
}
.legend-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    background: #EEE;
}




/* side panel */
#details {
    height: 30px;
    font-size: 0.9em;
    font-weight: lighter;
}

#info-div {
    font-size: 0.6em;
    font-weight: lighter;
    color: #BBB;
}