/* to check layout */
/* div {
    border: 0.5px solid orange;
} */
.dark-theme {
    background: #222;
    color: white;
}

.content {
    max-width: 1000px;
    margin: auto;
}
.row {
    margin: 0;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.text-muted {
    font-weight: lighter;
}
.btn-secondary {
    background-color: #999ba1;
    /* border-color: white; */
}
.btn-secondary:hover{
    background-color: #7c7c83;
    /* border-color: white; */
}
/* .btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
} */


/* scatter plot */
#svgDiv {
    /* border: 1px solid #EEE; */
    border-radius: 3px;
}
.fixation {
    opacity: 0.8;
}
.fixation:hover {
    opacity: 1;
    stroke: white;
    stroke-width: 1.5px;
    /* NOTE: drop shadow not working.. why? */
    -webkit-filter: drop-shadow(0 0 0.75rem red);
    filter: drop-shadow(0 0 0.75rem red);  
}
.saccade {
    fill: none;
    stroke: gray;
    stroke-width: 1px;
    opacity: 0.3;
}
.hull {
    fill: #EEE;
    /* fill: none; */
    /* stroke: green;
    stroke-width: 1px; */
    stroke: none;
}
.tooltipDiv{
    line-height: 1.2;
    /* opacity: 0.9; */
    background-color: white;
    border-radius: 3px;
    border: 1px solid #EEE;
    font-size: 0.8em;
    font-weight: lighter;
    padding: 4px 6px 4px 6px;
}


/* time slider */
.slider-container {
    width: 100%;
    line-height: 1;
}
.slider-container p {
    font-size: 0.9em;
    color: gray;
    font-weight: lighter;
}
.slider{
    width: 100%;
    height: 10px;
    border-radius: 2px;
    background: #DDD;
    outline: none;
    opacity: 0.85;
    -webkit-transition: .2s;
    transition: opacity .2s;
    -webkit-appearance: none;
    overflow: hidden;
    cursor: pointer;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    /* color: #08F; */
    transition: box-shadow 0.2s ease-in-out;
}
/* slider thumb */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 10px;
    border-radius: 2px;
    background: white;
    box-shadow: -500px 0 0 500px #08F, inset 0 0 0 40px #08F;
}
.slider::-moz-range-thumb { /* FireFox */
    width: 5px;
    height: 10px;
    border-radius: 2px;
    background: white;
}
.slider::-moz-range-progress {
    background-color: #08F;
}
.slider::-moz-range-track {
    background-color: #DDD;
}


/* legends slider */
.legend-container {
    width: 170px;
    height: 50px;
    margin-left: -12px;
    line-height: 1;
    /* border: 1px solid orange; */
    position: relative;
}
.legend-slider {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 132px;
    height: 30px;
    /* border-radius: 2px; */
    /* background: gray; */
    background: transparent;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    -webkit-appearance: none;
    cursor: pointer;
}
.legend-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #555;
}
.legend-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    /* border: 1px solid #DDD; */
}
.legend-svg circle {
    opacity: 0.5;
}
.legend-svg line {
    stroke: black;
    stroke-width: 0.4px;
}
.legend-svg .steps circle {
    fill: black;
    r: 2px;
}
.legend-svg .steps text {
    font-size: 0.7em;
    font-weight: lighter;
	text-anchor: middle;
}



/* side panel */
#details {
    height: 70px;
    font-size: 0.9em;
    font-weight: lighter;
}

#info-div {
    font-size: 0.6em;
    font-weight: lighter;
    color: #BBB;
}



.axis-label {
    color: #AAA;
    font-weight: lighter;
    text-anchor: middle;
}
.axis-line {
    stroke: #AAA;
    stroke-width: 1px;
}
.axis-stepDot {
    r: 2px;
    fill: #AAA;
    stroke: #AAA;
    stroke-width: 1px;
}
.axis-stepText {
    color: #AAA;
    font-size: 0.8em;
    font-weight: lighter;
	text-anchor: middle;
}

.axis text{
    color: #AAA;
    font-weight: lighter;
}
.axis line, path{
    stroke: #AAA;
}

.avgG line{
    stroke: black;
    stroke-width: 1px;
}
